$testBgColor: #000;
$mid-black: #2D2D2D;
$low-black: #4D4D4D;
* { 
	 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
}


.navigation{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	height: 350px;
	background-image: url('image/title.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.title{
  flex: 6;
	position: relative;
}

.navigation-bar {
	flex: 1;
	background-color: rgba($mid-black,0.7);
	border-top: 5px solid  rgba($mid-black,0.7);
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		height: 100%;
		li {
			list-style-type: none;
			a {
				color: white;
				display: inline-block;
				width: 7em;
				height: 100%;
				padding-top: 7.5px;
				text: {
					align: center;
					decoration: none;
				}
				font: {
					size: 20px;
			}
			}
		}	
		li:hover{
			background-color: rgba($low-black,0.7);
		}	
	}
}

#disoul-pic {
	background-color: rgba($mid-black,0.7); 
	width: 200px;
	height: 200px;
	border: 5px solid rgba($mid-black,0.7);
	border-bottom-width: 0;
	border-radius: 5px 5px 0 0;
	margin-left: 100px;
	position: absolute;
	bottom: -5px;
}
