/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
/* line 7, ../sass/_github_hl.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

/* line 15, ../sass/_github_hl.scss */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

/* line 21, ../sass/_github_hl.scss */
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

/* line 28, ../sass/_github_hl.scss */
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

/* line 36, ../sass/_github_hl.scss */
.hljs-string,
.hljs-doctag {
  color: #d14;
}

/* line 41, ../sass/_github_hl.scss */
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

/* line 48, ../sass/_github_hl.scss */
.hljs-subst {
  font-weight: normal;
}

/* line 52, ../sass/_github_hl.scss */
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

/* line 58, ../sass/_github_hl.scss */
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

/* line 65, ../sass/_github_hl.scss */
.hljs-regexp,
.hljs-link {
  color: #009926;
}

/* line 70, ../sass/_github_hl.scss */
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

/* line 75, ../sass/_github_hl.scss */
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

/* line 80, ../sass/_github_hl.scss */
.hljs-meta {
  color: #999;
  font-weight: bold;
}

/* line 85, ../sass/_github_hl.scss */
.hljs-deletion {
  background: #fdd;
}

/* line 89, ../sass/_github_hl.scss */
.hljs-addition {
  background: #dfd;
}

/* line 93, ../sass/_github_hl.scss */
.hljs-emphasis {
  font-style: italic;
}

/* line 97, ../sass/_github_hl.scss */
.hljs-strong {
  font-weight: bold;
}

/* line 4, ../sass/_global.scss */
body {
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 10, ../sass/_global.scss */
#main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 13, ../sass/_global.scss */
#main .page-content {
  flex: 1;
}

/* line 18, ../sass/_global.scss */
a.mdl-layout-title {
  color: white;
  text-decoration: none;
}

/* line 23, ../sass/_global.scss */
.mdl-mini-footer__left-section {
  margin: auto;
}

/* line 27, ../sass/_global.scss */
.page-content {
  width: 980px;
  margin: auto;
}

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/* line 2, ../sass/_content.scss */
.mdl-layout_content {
  background-color: #EEEEEE;
}

/* line 7, ../sass/_content.scss */
.page-content #article-block {
  max-width: 980px;
  width: 100%;
  margin: 40px auto 40px auto;
}
/* line 11, ../sass/_content.scss */
.page-content #article-block .mdl-card__title {
  background-color: #448AFF;
}
/* line 13, ../sass/_content.scss */
.page-content #article-block .mdl-card__title h2 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
/* line 18, ../sass/_content.scss */
.page-content #article-block #readmore {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 22, ../sass/_content.scss */
.page-content #article-block #readmore a {
  color: #2979FF;
  font-weight: bold;
}
