{% extends "base.html" %}
{% block staticfiles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/aboutme.css"%}">
{% endblock %}
{% block title %}
<title>About me</title>
{% endblock %}

{% block main-content %}
<div class="main-content">
	<div class="mid-content">
	<div class="head-block">
		<div class="icon-block">
		    <div class="icon"></div>
		</div>
		<div class="name-block">
			<p class="name">id: <span>D</span>i<span>S</span>oul</p>
			<div class="word"><p>我<span>渚</span>美如画</p></div>
		</div>
		<div class="about-block">
			<p>已脱团</p>
			<p id="lovedays">365<span>天</span></p>
		</div>
	</div>
	</div>
</div>
{% endblock %}

