{% extends "base.html" %}

{% block staticfiles %}
{% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/code.css" %}" >
        <link rel="stylesheet" href="{% static "css/article.css" %}" >
        <link rel="stylesheet" href="{% static "lib/font-awesome/font-awesome.css" %}" >
        <script type="text/javascript" src="{% static "lib/jquery/jquery.js" %}"></script>
{% endblock %}

{% block title %}
<title>Article-{{ article.title }}</title>
{% endblock %}

{% block main-content %}
{% load markdown_parse %}
<div class="article_block">
	<div class="article">
		<div class="article-title">
		     <a href="">{{ article.title }}</a>
		</div>
		<div class="article-tag">
		    {% for articletag in article.tag.all  %}
		    <a href="../../tag/{{articletag.tag_name}}">{{ articletag.tag_name }}</a>
		    {% endfor %}
		</div>
		<div class="article-content">
		    {{ article.content|markdown }}
		</div>

		<div class="article-other">
			<div class="pre">
				{% if pre %}
				<a href="../{{ pre_obj.id }}"><i class="fa fa-arrow-left"></i>{{ pre_obj.title }}</a>
				{% else %}
				{% endif %}
			</div>
			<div class="date">{{ article.date|date:"F j, Y" }}</div>
			<div class="next">
				{% if next %}
				<a href="../{{ next_obj.id }}"><i class="fa fa-arrow-left"></i>{{ next_obj.title }}</a>
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% load duoshuo_tags %}

{% duoshuo_comments %}

{% endblock %}
