{% extends "base.html" %}

{% block staticfiles %}
{% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/code.css" %}" >
        <link rel="stylesheet" href="{% static "css/article.css" %}" >
        <link rel="stylesheet" href="{% static "css/font-awesome-4.3.0/css/font-awesome.min.css" %}" >
        <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
{% endblock %}

{% block title %}
<title>Article-{{ article.title }}</title>
{% endblock %}

{% block main-content %}
{% load markdown_parse %}
<div class="article_block">
	<div class="article">
		<div class="article-title">
		     <a href="">{{ article.title }}</a>
		</div>
		<div class="article-tag">
		    {% for articletag in article.tag.all  %}
		    <a href="{{articletag.tag_name}}">{{ articletag.tag_name }}</a>
		    {% endfor %}
		</div>
		<div class="article-content">
		    {{ article.content|markdown }}
		</div>

		<div class="article-other">
		    {{ article.date|date:"F j, Y" }}
		</div>
	</div>
</div>
{% endblock %}
