<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "lib/jquery/jquery.js" %}"></script>
	{% block staticfiles %}
	<link rel="stylesheet" href="{% static "css/index.css" %}" >
	<script type="text/javascript" src="{% static "js/index.js" %}"></script>
	{% endblock %}
	<link rel="stylesheet" href="{% static "lib/font-awesome/font-awesome.css" %}">
	<link rel="stylesheet" href="{% static "css/code.css" %}" >
	<script type="text/javascript" src="{% static "js/base.js" %}"></script>
	{% block title %}
	<title>DiSoul's Blog</title>
	{% endblock %}
</head>
<body>
	<div class="page-warp">
		<div class="home-main">
			<div class="navigation">
				<div class="title"><a href="http://disoul.me">DiSoul Blog</a></div>
				<div class="navigation-bar">
					<ul>
						
						<li><a href="http://disoul.me">Home</a></li>
						<li><a href="#">Article</a></li>
						<li><a href="http://disoul.me/blog/aboutme">AboutMe</a></li>
						<li><a href="#">Tags</a></li>
					</ul>
				</div>
			</div>
			    {% block main-content%}{% endblock %}
		</div>
			{% block left-list %}{% endblock %}
	</div>
	<footer class="site-footer">
		<p>DiSoul<a href="https://github.com/disoul/disoul-blog"><i class="fa fa-github" id="github"></i></a>All For Future</p>		
	</footer>
</body>
</html>
