<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/navigation.css" media="all">
	<title>DiSoul's Blog</title>
</head>
<body>
	<div class="page-warp">
		<div class="navigation">
			<div class="title">
				<p id="name">DiSoul</p>
				<div id="horizontal-line"></div>
				<p id="about-words">This is a blog from disoul </br>This is a test paragraph</p>
				<div id="disoul-pic">
				</div>
			</div>
			<div class="navigation-bar">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Article</a></li>
					<li><a href="#">AboutMe</a></li>
					<li><a href="#">Tags</a></li>
				</ul>
			</div>
		</div>
		<div class="main-content">
		
		</div>
	</div>
	<footer class="site-footer"></footer>
</body>
</html>
