<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/index.css" %}" >
	<script type="text/javascript" src="{% static "js/index.js" %}"></script>
	<title>DiSoul's Blog</title>
</head>
<body>
	<div class="page-warp">
		<div class="navigation">
			<div class="title">
				<p id="name">DiSoul</p>
				<div id="horizontal-line"></div>
				<p id="about-words">This is a blog from disoul </br>This is a test paragraph</p>
				<div id="disoul-pic" onclick="linkToHome()">
				</div>
			</div>
			<div class="navigation-bar">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Article</a></li>
					<li><a href="#">AboutMe</a></li>
					<li><a href="#">Tags</a></li>
				</ul>
			</div>
		</div>
		<div class="main-content">
			{% block main-content%}{% endblock %}
		</div>
	</div>
	<footer class="site-footer"></footer>
</body>
</html>
