{% extends "base.html" %}
{% block main-content %}
{% load markdown_parse %}

<div class="main-content">

    <div class="article_block">
	{% for article in articles %}
	<div class="article">
		<div class="article-title">
		    {{ article.title }}
		</div>
		<div class="article-tag">
		    {% for articletag in article.tag.all %}
		    <a href="#">{{ articletag.tag_name }}</a>
		    {% endfor %}
		</div>
		<div class="article-content">
		    {{ article.content|markdown }}
		</div>
		<div class="article-other">
		    <hr>
		    <div>
		        <p>DiSoul {{ article.date|date:"F j, Y" }} 
		    </div>
		</div>
	</div>
	{% endfor %}
    </div>
</div>
{% endblock %}

{% block left-list %}
    <div class="left-list">
	<div class="tag-list">
	    <p>Tag list</p>
	    <ul>
	        {% for tag in tags %}
    	    	    <li>
		        <a herf="#">{{ tag.tag_name}}</a>
		    </li>
	        {% endfor%}
	    </ul>	    
	</div>
    	<div class="date-list"></div>
    </div>
{% endblock %}

