{% extends "base.html" %}
{% block main-content %}
{% load article_parse %}

<div class="main-content">

    <div class="article_block">
	{% for article in articles %}
	<div class="article">
		<div class="article-title">
			<a href="/blog/article/{{ article.title }}">{{ article.title }}</a>
		</div>
		<div class="article-tag">
		    {% for articletag in article.tag.all %}
		    <a href="/blog/tag/{{ articletag.tag_name }}">{{ articletag.tag_name }}</a>
		    {% endfor %}
		</div>
		<div class="article-content">
			{{ article.content|preview:article.preview_line|markdown }}
			<div class="content-other">
				<p>...</p><br>
				<a class="full-article" href="/blog/article/{{article.title}}">Read More</a>
			</div>
		</div>
		<div class="article-other">
		    <hr>
		    <div>
		        <p>DiSoul {{ article.date|date:"F j, Y" }} 
		    </div>
		</div>
	</div>
	{% endfor %}
    </div>
</div>
{% endblock %}

{% block left-list %}
    <div class="left-list-control">
        <i class="fa fa-angle-double-right fa-3x"></i>
    </div>

    <div class="left-list">
	<div class="tag-list">
	    <p>Tag list</p>
	    <ul>
	        {% for tag in tags %}
    	    	    <li>
			    <a href="/blog/tag/{{ tag.tag_name }}">{{ tag.tag_name}}</a>
		    </li>
	        {% endfor%}
	    </ul>	    
	</div>
    	<div class="date-list"></div>
    </div>
{% endblock %}

