@import "global";
@import "color";
@import "navigation";
@import "footer";

.center {
	margin:auto;
	width: 800px;
	height: 500px;
	position: relative;
	margin-top: 50px;
	border-bottom: 5px solid $light-blue-400;
	div {
		display: inline-block;
	}
	.nagisa {
		img {
			height: 500px;
		}
		float: right;
	}
	.text {
		p {
			display: block;
			font-size: 70px;
			color: $light-blue-400;
		}
		text-align: center;
		vertical-align: middle;
		position: absolute;
		top: 50%;
	}
}
