@import "compass/reset";

* {                                                                            
     -webkit-box-sizing: border-box;                                           
     -moz-box-sizing: border-box;                                                
     box-sizing: border-box;                                                   
     margin: 0;                            
	 font-family: inherit;                                    
}

html {
	font-family: "Droid Sans","Droid Sans Fallback","Source Han Sans SC","Microsoft YaHei";
}      

@mixin px2($size) {
	font-size: $size / 2;
}

@mixin hanayo {
	.hanayo {
	    position: fixed;                                                           
    	bottom: 0;                                                                 
    	right: 100px;                                                           
    	width: 200px;
    	transition: width 1s cubic-bezier(0.77,0,0.18,1) 0s;
		z-index: 9999;
    	@media (max-width: 1680px){                       
        	right: 0;                                                
    	}                                                              
		@media (max-width: 980px){
			width: 100px;
		}
    	&:hover {
        	width: 300px;                                                          
			@media (max-width: 980px){
				width: 150px;
			}
    	}                                                                          
    	img {                                                                      
        	width: 100%;                                                           
    	}
		#big {
			@media (max-width: 980px){
				display: none;
			}
		}
		#small {
			display: none;
			@media (max-width: 980px){
				display: block;
			}
		}	
	}
}
