$article-bg-color: #E7E7E7;
$tag-bg-color: #D7D7D7;
.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content-other {
	display: flex;
	flex-direction: column;
	p {
		text-align: center;
	}
	a {
		text-decoration: none;
		color: $light-blue-400;
		text-align: center;
		&:hover
		{
	    	font-weight: bold;
			color: $light-blue-600;
		}
	}
}

.pagination {
	margin-bottom: 2em;
	a {
		text-decoration: none;
		color: $light-blue-200;
		&:hover {
			color: $light-blue-400;
			font-weight: bold;
		}
	}
	.current {
		color: $light-blue-400;
	}
}
