html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

html {
  font-family: "Droid Sans","Droid Sans Fallback","Source Han Sans SC","Microsoft YaHei";
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 150px;
  background-color: #29b6f6;
  overflow: hidden;
}

.title {
  flex: 6;
  left: -14em;
  top: -3em;
  width: 980px;
  margin: auto;
  padding-top: 20px;
}
.title a {
  text-decoration: none;
  font-size: 60px;
  color: white;
  cursor: pointer;
}
.title a:hover {
  color: #039be5;
}

.navigation-bar {
  flex: 1.5;
  background-color: #eeeeee;
}
.navigation-bar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 980px;
  padding-left: 0;
  margin: auto;
}
.navigation-bar ul li {
  list-style-type: none;
}
.navigation-bar ul li a {
  color: black;
  display: inline-block;
  width: 80px;
  height: 100%;
  margin-bottom: 6px;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.navigation-bar ul li i {
  flex: 1;
}
.navigation-bar ul li:hover {
  background-color: rgba(170, 170, 170, 0.7);
}

#name {
  position: absolute;
  left: 320px;
  top: 80px;
  color: white;
  cursor: pointer;
  font-size: 3.5em;
}

#horizontal-line {
  width: 30em;
  border-top: 5px solid white;
  position: absolute;
  left: 325px;
  top: 150px;
}

#about-words {
  font-size: 1.8em;
  color: white;
  position: absolute;
  top: 160px;
  left: 325px;
}

.article_block {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article_block .article {
  width: 980px;
  padding: 1.5em;
  padding-bottom: 0;
  margin-bottom: 2em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}
.article_block .article:first-of-type {
  margin-top: 0;
}
.article_block .article .article-title {
  font-size: 40px;
  cursor: pointer;
}
.article_block .article .article-title a {
  text-decoration: none;
  color: #29b6f6;
}
.article_block .article .article-title a:hover {
  color: #039be5;
}
.article_block .article .article-tag {
  width: 100%;
  height: 20px;
  background-color: #81d4fa;
  margin-bottom: 10px;
}
.article_block .article .article-tag a {
  cursor: pointer;
  color: white;
  margin-right: .5em;
  margin-left: .5em;
  text-decoration: none;
}
.article_block .article .article-tag a:hover {
  background-color: #039be5;
}
.article_block .article .article-content {
  font-size: 17px;
  line-height: 30px;
}
.article_block .article .article-other {
  width: 100%;
}
.article_block .article .article-other hr {
  margin-top: 1.5em;
  color: #81d4fa;
}
.article_block .article .article-other div {
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-other {
  display: flex;
  flex-direction: column;
}
.content-other p {
  text-align: center;
}
.content-other a {
  text-decoration: none;
  color: #29b6f6;
  text-align: center;
}
.content-other a:hover {
  font-weight: bold;
  color: #039be5;
}

.pagination {
  margin-bottom: 2em;
}
.pagination a {
  text-decoration: none;
  color: #81d4fa;
}
.pagination a:hover {
  color: #29b6f6;
  font-weight: bold;
}
.pagination .current {
  color: #29b6f6;
}

.left-list-control {
  position: fixed;
  width: 5em;
  height: 3.5em;
  background-color: #eeeeee;
  top: 400px;
  left: -5px;
  cursor: pointer;
  border: 10px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 7px #2a2a2a;
  z-index: 100;
}
.left-list-control i {
  float: right;
  margin-right: 20px;
  position: relative;
  bottom: 8px;
}

.left-list-mask {
  overflow: hidden;
  box-shadow: 3px 3px 3px #9DD5EF;
  width: 0;
  order: 1;
  z-index: 1;
}

.left-list {
  background-color: white;
  border-right: 1px solid #C2C0C0;
  width: 120px;
  height: 100%;
}
.left-list .tag-list {
  color: #039be5;
}
.left-list .tag-list p {
  text-align: center;
  font-size: 25px;
  display: block;
  padding-bottom: .2em;
  overflow: hidden;
  white-space: nowrap;
}
.left-list .tag-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  overflow: hidden;
}
.left-list .tag-list li {
  padding-left: .5em;
  font-size: 17px;
  display: block;
  color: black;
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.left-list .tag-list li:nth-child(odd) {
  background-color: #F2F2F2;
}
.left-list .tag-list li:hover {
  background-color: #e1f5fe;
}
.left-list .tag-list li a {
  text-decoration: none;
  color: #2a2a2a;
}
.left-list .tag-list li a:hover {
  color: black;
}
.left-list .tag-list li .tag-counts {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #AAA;
  border-radius: 1.5em;
  position: absolute;
  right: 2px;
  background-color: #AAA;
}
.left-list .tag-list li .tag-counts p {
  font-size: .9em;
}

/*sticky footer by flexbox*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-warp {
  flex: 1;
}

.site-footer {
  width: 100%;
  background-color: #455ede;
  height: 50px;
}
.site-footer p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  padding-top: 10px;
  letter-spacing: .1em;
}
.site-footer p i {
  margin-left: .5em;
  margin-right: .5em;
  cursor: pointer;
}
.site-footer p a {
  color: white;
}
.site-footer p a:hover {
  color: #29b6f6;
}

.codehilite {
  background-color: #E7E7E7;
  border: 15px solid #E7E7E7;
  line-height: 20px;
}
.codehilite code {
  font-family: "Source Code Pro",monospace;
  font-size: 15px;
}

.article-content hr {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.article-content ul {
  border-left: 0.4em solid #81d4fa;
  padding-left: .4em;
}
.article-content ul li {
  list-style-type: none;
  margin-top: .4em;
  margin-bottom: .4em;
}
.article-content p code {
  font-family: "Source Code Pro",monospace;
  background-color: #E7E7E7;
}
.article-content h1 {
  color: #29b6f6;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}
.article-content h2 {
  color: #81d4fa;
  padding-bottom: 10px;
  margin-top: 5px;
}
.article-content a {
  text-decoration: none;
  color: #81d4fa;
  cursor: pointer;
}
.article-content a:hover {
  font-weight: bold;
}

body {
  background-color: #fafafa;
}

.page-warp {
  display: flex;
  justify-content: center;
}

.home-main {
  order: 2;
  flex: 1;
}
