.article_block {
    margin-bottom: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
    .article {
		width:80em;
        padding: 1.5em;
        padding-bottom: 0;
        margin-bottom: 8em;
		display: flex;
		flex-direction: column;
        .article-title {
            font-size: 3.5em;
			cursor: pointer;
			a {
				text-decoration: none;
                color: $light-blue-400;
				&:hover {
					color: $light-blue-600;
				}
			}
        }
        .article-tag {
            width: 100%;
            height: 1.3em;
            background-color: $light-blue-200; 
            margin-bottom: .5em;
             a {
                cursor: pointer;
                color: white;
                margin-right: .5em;
                margin-left: .5em;
                text-decoration: none;
                &:hover {
                    background-color: $light-blue-600;
                }
            }
        }
        .article-content {
            font-size: 1.3em;
			line-height: 1.7em;
        }
        .article-other {
            width: 100%;
            height: 1.5em;
            hr {
                margin-top: 1.5em;
                color: $light-blue-200;
            }
            div {
                height: 100%;
                float: right;
            }
        }
    }
}


