.article_block {
    margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
    .article {
		width:980px;
        padding: 1.5em;
        padding-bottom: 0;
        margin-bottom: 2em;
		margin-top: 4em;
		display: flex;
		flex-direction: column;
		&:first-of-type {
			margin-top: 0;
		}
        .article-title {
            font-size: 40px;
			cursor: pointer;
			a {
				text-decoration: none;
                color: $light-blue-400;
				&:hover {
					color: $light-blue-600;
				}
			}
        }
        .article-tag {
            width: 100%;
            height: 20px;
            background-color: $light-blue-200; 
            margin-bottom: 10px;
             a {
                cursor: pointer;
                color: white;
                margin-right: .5em;
                margin-left: .5em;
                text-decoration: none;
                &:hover {
                    background-color: $light-blue-600;
                }
            }
        }
        .article-content {
            font-size: 17px;
			line-height: 30px;
        }
        .article-other {
            width: 100%;
            hr {
                margin-top: 1.5em;
                color: $light-blue-200;
            }
            div {
                height: 100%;
            }
        }
    }
}


