$testBgColor: #000;
$mid-black: #2D2D2D;
$low-black: #4D4D4D;
$sakura-color: #93408F;
$light-blue-600: #039be5;
$light-blue-400: #29b6f6;
$light-blue-200: #81d4fa;
$light-blue-50: #e1f5fe;
$black-50: #fafafa;
$black-200: #eeeeee;
$mid-black: #2a2a2a;
$low-black: #AAA;
$low-white: #E7E7E7;

