* {                                                                            
     -webkit-box-sizing: border-box;                                           
     -moz-box-sizing: border-box;                                                
     box-sizing: border-box;                                                   
     margin: 0;                            
	 font-family: inherit;                                    
}

html {
	font-family: "Droid Sans","Droid Sans Fallback","Source Han Sans SC","Microsoft YaHei";
}      
