$mid-black: #2a2a2a;
$low-black: #AAA;
$article-bg-color: #E7E7E7;
$tag-bg-color: #D7D7D7;
.main-content {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}


.article_block {
	width: 80em; /*test*/
	margin-bottom: 5em;
	z-index: -100;
	height: 100em;
	.article {
		padding: 1.5em;
		padding-bottom: 0;
		/*border-radius: 10px;*/
		.article-title {
			font-size: 3.5em;
			color: $light-blue-200;
		}
		.article-tag {
			width: 100%;
			height: 1.3em;
			display: flex;
		    background-color: $light-blue-200; 
			margin-bottom: .5em;
		     a {
				cursor: pointer;
				color: white;
			}
		}	
		.article-content {
			font-size: 1.3em;
		}
		.article-other {
			width: 100%;
			height: 1.5em;
			hr {
				margin-top: 1.5em;
				color: $light-blue-200;
			}
			div {
			    height: 100%;
				float: right;
			}
		}
	}
}
