.codehilite {
    background-color: $low-white;
    border: 15px solid $low-white;
	line-height: 20px;
    code {
        font-family: "Source Code Pro",monospace;
        font-size: 15px;
    }   
}

.article-content {
    hr {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }   
    ul {
        border-left: .4em solid $light-blue-200;
        padding-left: .4em;
        li {
            list-style-type: none;
            margin-top: .4em;
            margin-bottom: .4em;
        }
    }   
	p {
		code {
			font-family: "Source Code Pro",monospace;
			background-color: $low-white;	
		}
	}
}

