.codehilite {
    background-color: $low-white;
    border: 15px solid $low-white;
	line-height: 20px;
    code {
        font-family: "Source Code Pro",monospace;
        font-size: 15px;
    }   
}

.article-content {
    hr {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }   
    ul {
        border-left: .4em solid $light-blue-200;
        padding-left: .4em;
        li {
            list-style-type: none;
            margin-top: .4em;
            margin-bottom: .4em;
        }
    }   
	p {
		code {
			font-family: "Source Code Pro",monospace;
			background-color: $low-white;	
		}
	}
	h1 {
		color: $light-blue-400;
		margin-top: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid $low-white;
	}
	h2 {
		color: $light-blue-200;
		padding-bottom: 10px;
		margin-top: 5px;
	}
	a {
		text-decoration: none;
		color: $light-blue-200;
		cursor: pointer;
		&:hover {
			font-weight: bold;
		}
	}
}

