$testBgColor: #000;
$mid-black: #2D2D2D;
$low-black: #4D4D4D;
$sakura-color: #93408F;
$light-blue-400: #29b6f6;
$light-blue-200: #81d4fa;
$light-blue-50: #e1f5fe;
$black-50: #fafafa;
$black-200: #eeeeee;
* { 
	 -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
}


.navigation{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	height: 200px;
	background-color: $light-blue-400;
}

.title{
    flex: 6;
	position: relative;
	left: -14em;
	top: -3em;
}

.navigation-bar {
	flex: 1;
	background-color: $black-200;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		height: 100%;
		li {
			list-style-type: none;
			a {
				color: black;
				display: inline-block;
				width: 7em;
				height: 100%;
				margin-bottom: 6px;
				margin-top: 6px;
				text: {
					align: center;
					decoration: none;
				}
				font: {
					size: 20px;
			}
			}
		}	
		li:hover{
			background-color: rgba($low-black,0.7);
		}	
	}
}

#name {
	position: absolute;
	left: 320px;
	top: 80px;
	color: white;
	font: {
		size: 3.5em;
	}
}

#horizontal-line {
	width:30em;
	border-top: 5px solid white;
	position: absolute;
    left: 325px;
	top: 150px;
}

#about-words {
	font-size: 1.8em;
	color: white;
	position: absolute;
	top: 160px;
	left: 325px;

}
