@import "color";
@import "global";
@import "navigation";
@import "article-content";
@import "footer";
@import "markdown";

.article-other{
	position: relative;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid $low-white;
	div {
		display: inline-block;
		font-size: 15px
	}
	a {
		text-decoration: none;
		color: $light-blue-200;
		&:hover {
			color: $light-blue-400;
		}
	}
	.pre {
		position: absolute;
		left: 0;
	}
	.next {
		position: absolute;
		right: 0;
	}
	.date {
		width: 100%;
		text-align: center;
	}

}
