@import "navigation";
@import "home-content";
@import "left-list";
@import "footer";

body {
	background-color: $black-50;
}

.page-warp {
	display: flex;
	justify-content: center;
}

.home-main {
	order: 2;
	flex: 1;
}
